.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: .75rem;
	padding-right: .75rem;
}

#index header {
	padding-top: 10rem;
}

.nav-tabs .nav-link:hover {
	background-color: #eee;
}

.tab-content {
    border: 1px #dee2e6 solid;
    border-top: 0;
    padding-top: 2rem;
}

.alert {
	border-radius: 0.5rem;
}

#loading, #message {
	margin: 1.5rem 0;
}

#message ul {
	margin: 0;
}

h1 {
	margin-bottom: 1.5rem;
}
