<form method="post" action="/exampleAjaxPOST" class="form-horizontal">
<div class="form-group row">
	<label for="title" class="col-sm-2 col-form-label">Title<sup class="text-danger">*</sup></label>
	<div class="col-sm-10">
		<input type="text" class="form-control" name="title" id="title" required>
	</div>
</div>

<hr>

<div class="form-group row">
	<div class="col-sm-12">
		<input type="submit" class="form-control btn btn-primary">
	</div>
</div>
</form>
